# Basics Of Python
- DataTypes (Integer, Strings) 
- Variable and Variable Assignment
- Mathematical Operations
- Print Formatting
- Boolean Variables
- Type Casting
- Logical Operators


### Data Structures 
- Lists[]
- sets{}
- Dictionaries {key: value}
- Tuples()

#### Jupyter NoteBook
- Here Each Box is One Cell
- Jupyter NoteBook is a Interactive Console Application

In [1]:
'''
Code:
Shift + Enter -->  Move to Next Cell / Create New cell
Esc After A --> New Cells

Ctrl + Enter --> Run the Cell
Kernel is like a Compiler 
Jupyter NoteBook Struck --> Restart the Kernel 

Markdown:
# MainHeading
## SubHeading
### SubsubHeading

'''

'\nCode:\nShift + Enter -->  Move to Next Cell / Create New cell\nEsc After A --> New Cells\n\nCtrl + Enter --> Run the Cell\nKernel is like a Compiler \nJupyter NoteBook Struck --> Restart the Kernel \n\nMarkdown:\n# MainHeading\n## SubHeading\n### SubsubHeading\n\n'

In [2]:
''' Multile Line Comments '''

' Multile Line Comments '

In [3]:
# Single Line Comments starts with Hash

### Integers

In [4]:
1 + 2

3

In [5]:
2 * 4

8

In [6]:
7 - 4

3

In [7]:
10 / 2   # Division

5.0

In [8]:
9 % 2    # Remainder or Modulus

1

In [9]:
3 ** 4   # Power

81

In [10]:
''' Shortcut: Inbuit function :- functionName**Here press Shift+Tab**() -  To know about function'''

' Shortcut: Inbuit function :- functionName**Here press Shift+Tab**() -  To know about function'

In [11]:
type(1)  #function : type() - To check DataType

int

In [12]:
type(1.0)

float

In [13]:
# Reserved Keywords -  int, float, True, False.....

### Strings

In [14]:
'hello'   # String can be defined with Single / double quotes

'hello'

In [15]:
type('hello')

str

In [16]:
"Pradeep"

'Pradeep'

In [17]:
type("Pradep")

str

In [18]:
8 * ' Jalla'   # Here String Repeats for 8 times

' Jalla Jalla Jalla Jalla Jalla Jalla Jalla Jalla'

#### Inbuilt functions for Strings

In [19]:
len('Pradeep')   #function len() - gives length size

7

### Variable Assignment

In [20]:
# syntax: var_name = value



# In python, No need to define Datatype

In [21]:
a = 10

In [22]:
a

10

In [23]:
type(a)

int

In [24]:
x = 'kasi'

In [25]:
x

'kasi'

In [26]:
type(x)

str

### Mathematical Operations

In [27]:
a = 2
b = 5

In [28]:
                                    #function : print() - To display in output Console
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a**b)
print((a+b) + (a**b))  #BODMAS rule

7
-3
10
2
0.4
32
39

### Dynamic Way of Printing  -  using{}

In [29]:
print('Hello')

Hello

In [30]:
first_name = 'Pradeeep'
last_name = 'Jalla'

In [31]:
print("My first name is {} and last name is {}".format(first_name, last_name)) #  Order

My first name is Pradeeep and last name is Jalla

In [32]:
print("My first name is {FN} and last name is {LN}".format(LN = last_name, FN = first_name)) # Not in Order

My first name is Pradeeep and last name is Jalla

### Boolean Variables
- Boolean Variables are two constant objects False and True.
- In Numeric context it is 0 and 1

In [33]:
False

False

In [34]:
true

NameError: name 'true' is not defined

In [35]:
True

True

In [36]:
type(False)

bool

In [37]:
type(True)

bool

In [38]:
mystr = 'Jalla Pradeep'
mystr

'Jalla Pradeep'

In [39]:
mystr.isalnum()

False

In [40]:
bool(mystr.isalnum())  # All chars are Numbers

False

In [41]:
type(mystr.isalnum())

bool

In [42]:
type(bool(mystr.isalnum()))

bool

#### Type Casting
- Converting one Datatype to Other

In [43]:
print("All chars are Numbers " + bool(mystr.isalnum()))  # We can't concatenate String and Boolean

TypeError: can only concatenate str (not "bool") to str

In [44]:
print("All chars are Numbers " + mystr.isalnum())

TypeError: can only concatenate str (not "bool") to str

In [45]:
print("All chars are Numbers: " + str(mystr.isalnum())) # Type Cast : So Here converting Boolean to String and then Concatenation

All chars are Numbers: False

In [46]:
''' Shortcut for String Inbuilt Functions()- StringName.TAB Button '''
# mystr.

' Shortcut for String Inbuilt Functions()- StringName.TAB Button '

In [47]:
print("All chars are Numbers: " + str(mystr.isalnum()))
print("All chars in String are Digit: " + str(mystr.isdigit()))   

print("All chars in String are Alphabets : " + str(mystr.isalpha())) 
print("String contains Title words: " + str(mystr.istitle())) # All words to be started with Uppercase
print("All chars in String are Upper Case:" + str(mystr.isupper()))
print("All chars in String are Lower Case:" + str(mystr.islower()))
print("String contains only Space: " + str(mystr.isspace()))
print("String ends with Alphabet: " + str(mystr.endswith('P'))) # case sensitive
print("String starts with Alphabet: "+ str(mystr.startswith("J")))

All chars are Numbers: False
All chars in String are Digit: False
All chars in String are Alphabets : False
String contains Title words: True
All chars in String are Upper Case:False
All chars in String are Lower Case:False
String contains only Space: False
String ends with Alphabet: False
String starts with Alphabet: True

###   Logical Operators

In [48]:
True and True

True

In [49]:
True and False

False

In [50]:
False and True

False

In [51]:
False and False

False

In [52]:
True or True

True

In [53]:
True or False

True

In [54]:
False or True

True

In [55]:
False or False

False

In [56]:
not(False)

True

In [57]:
not(True)

False

In [58]:
mystr

'Jalla Pradeep'

In [59]:
s1 = str(mystr.endswith('p')) or str(mystr.startswith("J"))

In [60]:
s1

'True'

In [61]:
type(s1)

str

In [62]:
s2 = mystr.endswith('p') or mystr.startswith("J")

In [63]:
s2

True

In [64]:
type(s2)

bool

## Data Structures : 

#### Data Structures are important for Analyzing Explotary Data Analysis(EDA)
- Boolean
- Lists[]
- sets{}
- Dictionaries {key: value}
- Tuples()

### List []
- A list is a Data Structure in Python
- Mutable / Changeable, ordered sequence of elements
- Each element inside a List is called as Item
- For String, we define as 'characters' quotes. Likewise List is defined as [items] square Brackets

In [65]:
type([])

list

In [66]:
L1 = []  #empty List
L1

[]

In [67]:
type(L1)

list

In [68]:
L2 = list() #function: list() -  To create empty list using function
L2

[]

In [69]:
type(L2)

list

In [70]:
L1 = ['Mathematics', 'Science', 100, 50, 56]  
L1

['Mathematics', 'Science', 100, 50, 56]

In [71]:
type(L1)

list

In [72]:
L1 = ['Mathematics', 'Social', 100, 50, 56]   # Can be Overwritten ==> List is Mutable / Changeable
L1

['Mathematics', 'Social', 100, 50, 56]

#### Inbuit functions for List

In [73]:
len(L1)  #function len() --> The No. of items in List

5

In [74]:
L1.append("Pradeep") #function append() --> Used to add elements in the List
L1

['Mathematics', 'Social', 100, 50, 56, 'Pradeep']

In [75]:
MultiplyList = L1 * 3  # Appending 3 times
print(MultiplyList)
print(L1)

['Mathematics', 'Social', 100, 50, 56, 'Pradeep', 'Mathematics', 'Social', 100, 50, 56, 'Pradeep', 'Mathematics', 'Social', 100, 50, 56, 'Pradeep']
['Mathematics', 'Social', 100, 50, 56, 'Pradeep']

In [76]:
L1.append(['Ram', 'Satya', 1993]) # List is appending a List --> Nested List
L1

['Mathematics', 'Social', 100, 50, 56, 'Pradeep', ['Ram', 'Satya', 1993]]

In [77]:
L1.insert(2, "Kasi") # function insert() --> Insert a item in a specific order  **(Index starts with 0,1,2...)**
L1

['Mathematics',
 'Social',
 'Kasi',
 100,
 50,
 56,
 'Pradeep',
 ['Ram', 'Satya', 1993]]

In [78]:
L2 = ['Vijaya', 87, ['Ram', 98], 'Jk']
L2

['Vijaya', 87, ['Ram', 98], 'Jk']

In [79]:
L3 = [1, 9, 3, 5, 6, 7]
L3

[1, 9, 3, 5, 6, 7]

In [80]:
L3.extend(['JKP', 955]) # function extend() ---> Add items to the List but not like append
L3

[1, 9, 3, 5, 6, 7, 'JKP', 955]

In [81]:
L4 = L3.pop()  # function pop() ---> Remove and Return last item in a List
print(L4)      # Last item in a List
print(L3)      # Last item is removed and return the List

955
[1, 9, 3, 5, 6, 7, 'JKP']

In [82]:
L5 = L3.pop(1)  # Remove specific element using Index
print(L5)
print(L3)

9
[1, 3, 5, 6, 7, 'JKP']

In [83]:
L7 = [1,5,4,1,7,8, [3,1,2,9]]
L7

[1, 5, 4, 1, 7, 8, [3, 1, 2, 9]]

In [84]:
print("No. of times 7 occurred: " + str(L7.count(7)))
print("No. of times 1 occurred: " + str(L7.count(1)))
print("No. of times 5 occurred: " + str(L7.count(5)))

No. of times 7 occurred: 1
No. of times 1 occurred: 2
No. of times 5 occurred: 1

In [85]:
L7.count(90) # function count() --> Calculate Total Occurence of the item

0

In [86]:
type(L7.count(90))

int

In [87]:
L7.index(1) # function index(item) --> Gives index position of that item in first occurrence

0

In [88]:
L7.index(1,2,6) # function index(item, start Indexation Search, End Indexation Search) -->

3

In [89]:
L8 = [88, 65.8, 65.9,555]
print(L2)
print(L7)
# print(min(L2)) --> Not possible
# print(min(L7)) --> Not possible
print(min(L8)) # min/max in List: function min()/max()-  To be used when all items are Numerical (not possible for Nested Lists)
print(max(L8))

['Vijaya', 87, ['Ram', 98], 'Jk']
[1, 5, 4, 1, 7, 8, [3, 1, 2, 9]]
65.8
555

#### Slicing Operator / Indexing Techniques

In [90]:
L1

['Mathematics',
 'Social',
 'Kasi',
 100,
 50,
 56,
 'Pradeep',
 ['Ram', 'Satya', 1993]]

In [91]:
L1[2] #Indexing in List

'Kasi'

In [92]:
L1[6]

'Pradeep'

In [93]:
len(L1)

8

In [94]:
L1[:]

['Mathematics',
 'Social',
 'Kasi',
 100,
 50,
 56,
 'Pradeep',
 ['Ram', 'Satya', 1993]]

In [95]:
L1[2:]

['Kasi', 100, 50, 56, 'Pradeep', ['Ram', 'Satya', 1993]]

In [96]:
L1[:6]

['Mathematics', 'Social', 'Kasi', 100, 50, 56]

In [97]:
L1[2:6] #Intersection part i.e.., Common part L1[2:] Intersection L1[:6]

['Kasi', 100, 50, 56]

In [103]:
print(L1[0:6])   
''' included : Not Included'''

['Mathematics', 'Social', 'Kasi', 100, 50, 56]

' included : Not Included'

In [104]:
L1

['Mathematics',
 'Social',
 'Kasi',
 100,
 50,
 56,
 'Pradeep',
 ['Ram', 'Satya', 1993]]

### SET {}
- A Set is an unordered collection datatype that is Iterable, Mutable and has no dupilcate Elements.
- Python's set class represents the mathematical notion of a set.
- This is based on a data structure known as a Hash Table.

In [105]:
set1 = set()  #function set() - Defining a emptySet using function
print(set1)
print(type(set1))

set()
<class 'set'>

In [106]:
empset = {}  # Careful in creating empty set.  Here itz a dictionary
type(empset)

dict

In [107]:
set2 = {"Mummy", "Daddy", "Wife"}   # NotInOrder  - Generally order done as Ascending Alphabets
print(set2)
type(set2)

{'Daddy', 'Wife', 'Mummy'}

set

In [108]:
set3 = {1,2,35,7,2,4} # No duplicate elements 
set3

{1, 2, 4, 7, 35}

In [109]:
set3 = {1,2,8,7,35}  # Set can be edited ==> Mutable / Changeable
set3

{1, 2, 7, 8, 35}

In [110]:
set3[2]   # Set doesn't support Indexing

TypeError: 'set' object is not subscriptable

In [111]:
set2['Wife']     # 'set' object is not subscriptable ==> Set doesn't support Indexing

TypeError: 'set' object is not subscriptable

#### Inbuilt functions of Set

In [112]:
set4 = set3.add('Jpradee')
print(set3)
print(set4)

{1, 2, 35, 7, 8, 'Jpradee'}
None

In [113]:
set4 = set3
set4

{1, 2, 35, 7, 8, 'Jpradee'}

In [114]:
SetCinema1 = {'Fida', 'F2', 'Kaidi'}  # Compare Both sets are Inorder
SetCinema2 = {'Bahubali', 'Chatrapati','Fida','F2', 'Arya'}
print(SetCinema1)
print(SetCinema2)

{'F2', 'Fida', 'Kaidi'}
{'F2', 'Bahubali', 'Fida', 'Chatrapati', 'Arya'}

In [115]:
print(SetCinema1.intersection(SetCinema2))
print(SetCinema1)
print(SetCinema2)

{'F2', 'Fida'}
{'F2', 'Fida', 'Kaidi'}
{'F2', 'Bahubali', 'Fida', 'Chatrapati', 'Arya'}

In [116]:
SetCinema2.intersection(SetCinema1)

{'F2', 'Fida'}

In [117]:
SetCinema3 = SetCinema1.union(SetCinema2)
SetCinema3

{'Arya', 'Bahubali', 'Chatrapati', 'F2', 'Fida', 'Kaidi'}

In [118]:
print(SetCinema1.difference(SetCinema2)) # SetCinema1 - SetCinema2
print(SetCinema1)
print(SetCinema2)

{'Kaidi'}
{'F2', 'Fida', 'Kaidi'}
{'F2', 'Bahubali', 'Fida', 'Chatrapati', 'Arya'}

In [119]:
print(SetCinema1.difference_update(SetCinema2)) # SetCinema1 - SetCinema2 and ....Updated in SetCinema1
print(SetCinema1)
print(SetCinema2)

None
{'Kaidi'}
{'F2', 'Bahubali', 'Fida', 'Chatrapati', 'Arya'}

### Dictonaries {key : value}
- A dictionary is a Collection which is Unordered, Changeable and Indexed.
- In python dictionaries are written with Curly Brackets{}, and they have keys & values

In [120]:
dic1 = {} # Defining an Empty Dictionary
print(dic1)
type(dic1)

{}

dict

In [121]:
empdic = dict()  #function dict() - To  create empty dictionary using function
type(empdic)

dict

In [122]:
dict2 = {"Car1":"Audi", "Car2":"BMW", "Car3":"Benz"}  #Create Dictionary - Have Key:value pair
print(dict2)
type(dict2)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz'}

dict

In [123]:
dict2['Car2']  # Here, In dictionaries,  Indexing done using Key.... dict[key]

'BMW'

In [128]:
'''for loop'''
# We can loop dictionary using keys -  By default Loop done through keys
for x in dict2:
    print(x)

Car1
Car2
Car3
Car4

In [129]:
'''for loop'''
# We can loop dictionary using values
for x in dict2.values():
    print(x)

Audi
BMW
Benz
Ambassodor

In [130]:
'''for loop'''
# We can loop dictionary using items(key:value pair)
for x in dict2.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Benz')
('Car4', 'Ambassodor')

In [131]:
dict2['Car4'] = 'Ambassodor'  # Adding an item in Dictionary 
dict2

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz', 'Car4': 'Ambassodor'}

In [132]:
dict2['Car1']= 'Jaguar'   # Changeable / Mutable
dict2

{'Car1': 'Jaguar', 'Car2': 'BMW', 'Car3': 'Benz', 'Car4': 'Ambassodor'}

In [133]:
# DataSources like MongoDG, we load JSON object and Converts into Dictionaries.In MongoDB, we store most values in keyvalue pair

#### Nested Dictionaries

In [134]:
car1_model = {'Benz': 1960}
car2_model = {'Audi': 1970}
car3_model = {'BMW': 1980}
print(type(car1_model))
car_type ={'car1':car1_model, 'car2':car2_model, 'car3':car3_model}
print(type(car_type))
print(car_type)

<class 'dict'>
<class 'dict'>
{'car1': {'Benz': 1960}, 'car2': {'Audi': 1970}, 'car3': {'BMW': 1980}}

In [135]:
car_type['car1']['Benz']   # Retrieve using Indexing for Nested Dictionaries

1960

### Tuples()
-  Not mutable (Once we define Tuple, we can't change elements)
- Round Braces ()

In [136]:
t1 = ()  # Empty Tuple
print(t1)
type(t1)

()

tuple

In [137]:
t2 = tuple() #function tuple - To create empty tuple using function
print(t2)
type(t2)

()

tuple

In [138]:
t3 = ('JAI', 'Ram', 'Satya',67, 'Jalla')
t3

('JAI', 'Ram', 'Satya', 67, 'Jalla')

In [139]:
t3[2] = 'Pradeep' # Not possible ==> Tuple is Immutable, we can complete Tuple,But not using Indexing

TypeError: 'tuple' object does not support item assignment

In [140]:
t3 = ('JAI', 'Ram', 'Satya','Pradeep', 'Jalla')
t3

('JAI', 'Ram', 'Satya', 'Pradeep', 'Jalla')

In [141]:
t3= ('Hello','World')
t3

('Hello', 'World')

#### Inbuilt Funcions for Tuple

In [142]:
t4 = (1,2,43,6,2,9)  # function count() - How times the element occurred
print(t4.count(9))
print(t4.count(2))
print(t4.count(3))

1
2
0

In [143]:
t4.index(43)  # function index(element) - Gives the element Index value

2