# Python
* Python language is Case Sensitive. 
* Open source programming language.
* Step to Step executor. 
* Used for Web Development, Testing, Data Analysis. 
* Editor like Anaconda(Jupiter), pycharm ..... - Here we use Jupiter.
* Python reads everything as <b>object</b>. 
* Here no curly braces, only <b>indentation (4 spaces)</b>

### Basics Of Python

///////////////////////

### Topics Covered
- Jupyter NoteBook
- Comments
- <b>Variable Assignment</b>
- Dynamic Way of Printing

- <b>Integers</b> 
  - Arithmetic Operations
  - Logical Operators

- <b>Strings</b>
- Type Casting
- Indexing and <b>Slicing</b> Operator

- <b>Boolean Variables</b>

<b>Data Structures</b>
- <b>List []</b>
- <b>SET {}</b>
- <b>Dictonaries {key : value}</b>
- <b>Tuples()</b>

<b>BuiltIn Functions & Methods</b>
<b>Swapping Program</b>

////////////////////////////////

#### Jupyter NoteBook
- Here Each Box is One Cell
- Jupyter NoteBook is a Interactive Console Application

In [1]:
'''
Code:
Shift + Enter -->  Move to Next Cell / Create New cell
Esc After A --> New Cells

Ctrl + Enter --> Run the Cell
Kernel is like a Compiler 
Jupyter NoteBook Struck --> Restart the Kernel 

Markdown:
# MainHeading
## SubHeading
### SubsubHeading
#### ....

'''

'\nCode:\nShift + Enter -->  Move to Next Cell / Create New cell\nEsc After A --> New Cells\n\nCtrl + Enter --> Run the Cell\nKernel is like a Compiler \nJupyter NoteBook Struck --> Restart the Kernel \n\nMarkdown:\n# MainHeading\n## SubHeading\n### SubsubHeading\n#### ....\n\n'

In [2]:
''' Shortcut: Inbuit function :- functionName**Here press Shift+Tab**() -  To know about function'''

' Shortcut: Inbuit function :- functionName**Here press Shift+Tab**() -  To know about function'

In [1]:
''' Shortcut for String Inbuilt Functions()- StringName.TAB Button '''
# mystr.                 Similary for all things (sets, lists, dictionaries, math.......)

' Shortcut for String Inbuilt Functions()- StringName.TAB Button '

#### Comments

In [3]:
''' Multile Line Comments '''

' Multile Line Comments '

In [4]:
# Single Line Comments starts with Hash

### Variable Assignment
- syntax: var_name = value
- No need to define Datatype in python

In [5]:
a = 10
print(a)

10

In [6]:
type(a)

int

In [7]:
x = 'kasi'
print(x)
print(type(x))
type(x)

kasi
<class 'str'>

str

In [8]:
a,A = 10                 # no. of variables = no. of values assigned

TypeError: cannot unpack non-iterable int object

In [9]:
a,A = 10,2               # Not necessary to declare datatype  & Can be assigned at a time
print(a,A)
a,A

10 2

(10, 2)

In [10]:
z = a + A      # Addition
print(z)
print("Sum of Value :", z ) # No concatenation / No typecasting

12
Sum of Value : 12

In [11]:
b,B =  6, 'Rama'
print(B,b)
B,b

Rama 6

('Rama', 6)

### Dynamic Way of Printing  -  using{} - .format()

In [12]:
print('Hello')      # function : print() - To display in output Console

Hello

In [13]:
first_name = 'Pradeep'
last_name = 'Jalla'
print("My first name is {} and last name is {}".format(first_name, last_name)) 
print("My first name is {} and last name is {}".format(last_name, first_name))

My first name is Pradeep and last name is Jalla
My first name is Jalla and last name is Pradeep

In [14]:
print("My first name is {FN} and last name is {LN}".format(LN = last_name, FN = first_name))

My first name is Pradeep and last name is Jalla

In [15]:
print('jan \nfeb \nmarch \nmay')                 # To display elements in Newline

jan
feb
march
may

In [16]:
print('jan \tfeb \tmar \tapr')                   # To display elements with Tab Space

jan 	feb 	mar 	apr

### Integers

### Arithmetic Operations

In [17]:
print(1 + 2)
print(2 * 4)
print(7 - 4)
print(10 / 2)  # Division
print(9 % 2)   # Remainder or Modulus
print(3 ** 4)  # Power

3
8
3
5.0
1
81

In [18]:
a,b = 2, 5                             
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a**b)
print((a+b) + (a**b))  # BODMAS rule
print(b // a)          # cofficient  - Floor Division

7
-3
10
2
0.4
32
39
2

In [19]:
print(type(1))  # function : type() - To check DataType
print(type(1.0))

<class 'int'>
<class 'float'>

In [20]:
type(1+7j)      # complex No : x+yj format

complex

In [21]:
# Reserved Keywords -  int, float, True, False.....

###   Logical Operators

In [22]:
a,b = 6,8 
print("Lessthan : ", a<b)
print("Greaterthan : ",a>b)
print("Equals : ",a==b)
print("NotEquals : ",a!=b)
print("LessthanOrEquals : ",a<=b)
print("GreaterthanOrEquals : ",a>=b)

Lessthan :  True
Greaterthan :  False
Equals :  False
NotEquals :  True
LessthanOrEquals :  True
GreaterthanOrEquals :  False

In [23]:
True and True

True

In [24]:
print("and: ", True and True)
print("and: ", True and False)
print("and: ", False and True)
print("and: ", False and False)
print("or: ", True or True)
print("or: ", True or False)
print("or: ", False or True)
print("or: ", False or False)
print("not: ", not(False))
print("not: ", not(True))

and:  True
and:  False
and:  False
and:  False
or:  True
or:  True
or:  True
or:  False
not:  True
not:  False

In [25]:
x,y =  10,50

x>5 and y<100                 # Here we use 'and'  'or'  'not' =>  Don't use && || !
not(x>5 or y<10)

False

#### Inbuilt function for Integer / Float

In [26]:
a = 11.7897
print(round(a))       # function : round() -  .5 to higher digit

b = 5.5
print(round(b))

c = 5.4999
print(round(c))

12
6
5

### Strings

In [27]:
print('hello')   # String can be defined with Single / double quotes
print(type('hello'))

p = "Pradeep"
print(p)
print(type(p))

hello
<class 'str'>
Pradeep
<class 'str'>

In [28]:
8 * ' Jalla'   # Here * String Repeats for 8 times

' Jalla Jalla Jalla Jalla Jalla Jalla Jalla Jalla'

#### Type Casting
Converting one Datatype to Other Datatype
- int()
- float()
- str()

In [29]:
#add 2 numbers                # Without Type casting, it considers as a String and operating String concatenation
s  = input("Enter First No ")
t = input("Enter second no ")
y = s + t
print(y)

Enter First No 3
Enter second no 5
35

In [30]:
#add 2 numbers               # With Type casting, it considers as a int/float and performs Arithmetic Operation       
s  = float(input("Enter First No "))
t = int(input("Enter second no "))
y = s + t
print(y)

Enter First No 3
Enter second no 5
8.0

#### Inbuilt functions for Strings

In [31]:
len('Kasi Pradeep')     # function : len() - gives length - Considers Space also

12

In [32]:
MyName=input("Name")    # function : input() - To take Input from User  - input() by default gives as String
print(MyName)                           
print(type(MyName))

NameJalla Pradeep
Jalla Pradeep
<class 'str'>

In [33]:
age  = input("age ") 
print(age)
print(type(age))

age 25
25
<class 'str'>

In [34]:
age2  = int(input("age "))  # TypeCasting -Here we converted String to Int .. int() 
print(age2)
print(type(age2))

age 25
25
<class 'int'>

In [35]:
FirstName = "Jalla"
LastName = "Pradeep"
FirstName +" "+ LastName    # String Concatenation - using  "+" symbol

'Jalla Pradeep'

#### Indexing and Slicing Operator
- Slicing operator - [0 : n-1] - Size n 
- Start value(Included) : End value(Not Included)

In [36]:
name="kasi Pradeep"           # Index - Starts with 0,1,2..... Considering 'Space' also  -  Forward Direction

print(name[2])
print(name[4])       # Output : '' (space) 
print(name[-1])               # Index - Starts with -1,-2..... Considering 'Space' also  -  Backward Direction
print(name[-2]) 
print(name[::])               # Slicing operator    0,1,2.......
print(name[:])                # Same as [::]
print(name[3:])               # Index value starts from 3 (included) upto end
name[:8]                      # Index value starts from 0 and ends with 7(not included)
name[6:9]     #(start value Included  and doesnt include last value) - Here Index Value starts with 6 and ends with 8

s

p
e
kasi Pradeep
kasi Pradeep
i Pradeep

'rad'

In [37]:
print(name)
print(name.upper())        #  .upper() function - To change String to All capital Letters  [class.method()]
print(name)
print(name.lower())       #   .lower() function - To change String to All lower Letters

kasi Pradeep
KASI PRADEEP
kasi Pradeep
kasi pradeep

In [38]:
z = "Hello Pradeep. I'm learnig python"      

print(sorted(z))                    # function : sorted() - Here In String, Sorted means splits as per character
print(z)
print(z.split())                    #  .split() function - Split the string with Space 
''.join(z)                          #  .join() function  - joined again with space

[' ', ' ', ' ', ' ', "'", '.', 'H', 'I', 'P', 'a', 'a', 'd', 'e', 'e', 'e', 'e', 'g', 'h', 'i', 'l', 'l', 'l', 'm', 'n', 'n', 'o', 'o', 'p', 'p', 'r', 'r', 't', 'y']
Hello Pradeep. I'm learnig python
['Hello', 'Pradeep.', "I'm", 'learnig', 'python']

"Hello Pradeep. I'm learnig python"

In [39]:
s = "Hello Pradeep. I'm learnig python"

k =s.split("p")          #  .split() function - Here Split the string with 'p' 
print(k)
'p'.join(k)              #  .join() function  - joined again with 'p'

['Hello Pradee', ". I'm learnig ", 'ython']

"Hello Pradeep. I'm learnig python"

In [40]:
z.append("kasi")         # For String, We can't add i.e., Not changeable => Immutable

AttributeError: 'str' object has no attribute 'append'

### Boolean Variables
- Boolean Variables are two constant objects False and True.
- In Numeric context it is 0 and 1

In [41]:
False

False

In [42]:
true

NameError: name 'true' is not defined

In [43]:
True

True

In [44]:
print(type(False))
type(False)

<class 'bool'>

bool

In [45]:
type(True)

bool

In [46]:
mystr = 'Jalla Pradeep'
print(mystr)
mystr.isalnum()

Jalla Pradeep

False

In [47]:
20 == 20         # Returns Boolean after comparing  --> True

True

In [48]:
20 == "20"        # Returns Boolean after comparing  --> False  --> Compares int and String  
                  #                                             --> Considering as different and return False

False

#### Inbuilt functions for Boolean

In [49]:
print("All chars are Numbers: " , mystr.isalnum())
print("All chars in String are Digit: " + str(mystr.isdigit())) # Not possible without TypeCasting -We can't concatenate String and Boolean
print("All chars in String are Alphabets : " + str(mystr.isalpha()))
print("String contains Title words: " , mystr.istitle()) # All words to be started with Uppercase
print("All chars in String are Upper Case:" , mystr.isupper())
print("All chars in String are Lower Case:" , mystr.islower())
print("String contains only Space: " , mystr.isspace())
print("String ends with Alphabet: " , mystr.endswith('P')) # case sensitive
print("String starts with Alphabet: ", mystr.startswith("J"))

All chars are Numbers:  False
All chars in String are Digit: False
All chars in String are Alphabets : False
String contains Title words:  True
All chars in String are Upper Case: False
All chars in String are Lower Case: False
String contains only Space:  False
String ends with Alphabet:  False
String starts with Alphabet:  True

## Data Structures : 

#### Data Structures are important for Analyzing Explotary Data Analysis (EDA)
* Seperated by commas (includes different of datatypes elements)
* In python We have 2 types of standard Datatypes - 
    * 1. Immutable -  Numbers, Strings, Tuples
    * 2. Mutable - List, Dictionaries, Sets
    
- Lists[]
- sets{}
- Dictionaries {key: value}
- Tuples()

### List []
- A list is a Data Structure in Python
- Mutable / Changeable, ordered sequence of elements
- Each element inside a List is called as Item
- For String, we define as 'characters' quotes. Likewise List is defined as [items] square Brackets

In [50]:
type([])

list

In [51]:
L1 = []           # Create a empty List
print(type(L1))
L1

<class 'list'>

[]

In [52]:
L2 = list()        # function : list() -  To create empty list using function
print(type(L1))
L2

<class 'list'>

[]

In [53]:
Li = [7, 89, "kas",90.678, "JaLla",(90, "uh",89.7),["kai","tha",90.3]]  # List is a Mix of int, float, String, Tuple, List
print(Li[1])
Li[1]= 90          # Editable                                                             
print(Li)    
print(Li[1])

89
[7, 90, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 'tha', 90.3]]
90

In [54]:
print(Li[6][1][2])    # To get particular character in String
print(Li[6][1])           
Li[6][1] = 45         # In List, we are editing  ==> List is Mutable / Changeable
print(Li)
print(Li[6][1])

a
tha
[7, 90, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 45, 90.3]]
45

In [55]:
Li[5][1] = 76     # In Tuple, we try to edit --> But not possible --> Immutable

TypeError: 'tuple' object does not support item assignment

In [56]:
Lisi = ['Math1', 'Social', 80, '76', 10.87]
Lisi

['Math1', 'Social', 80, '76', 10.87]

In [57]:
print(Lisi)
print(Li)
ListAdd = print([Lisi,Li])  # Adding 2 Lists

['Math1', 'Social', 80, '76', 10.87]
[7, 90, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 45, 90.3]]
[['Math1', 'Social', 80, '76', 10.87], [7, 90, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 45, 90.3]]]

#### Inbuit functions for List

In [58]:
print(len(Lisi))      # function : len() - The No. of items in List
print(len(Li))

print(Lisi * 3)        # Appending 3 times

5
7
['Math1', 'Social', 80, '76', 10.87, 'Math1', 'Social', 80, '76', 10.87, 'Math1', 'Social', 80, '76', 10.87]

In [59]:
Numb = [2, 78, 89.9, 76]
Strngs = ["kasi","pra","jall","arama","sata"]
Mixed = [1, 45, "orad",77,"uit",55]

print(max(Numb))            # function : max() min()
print(max(Strngs))          # Gives in Dictionary order
# print(max(Mixed))         # Can't compare Numbers and Strings - Not possible

print(sum(Numb))            # function : sum() - Sum of Numbers  - Possible only when all are Numericals 
# print(sum(Strngs))        # Not possible

89.9
sata
245.9

In [60]:
Lis = ['Math1', 'Social', 80, '76', 10.87]
print(Lis)

Lis.append("Pradeep")       #  .append() function : Used to add item (Single) at the end of the List
print(Lis)

Lis.append(['Ram', 'Satya', 1993]) # List is appending a List --> Nested List
print(Lis)
print(type(Lis))

Lis.insert(2, "Kasi")       # .insert() function : Insert a item in a specific order using index(Index starts with 0,1,2...)
print(Lis)

Lis.extend(['JKP', 955])    # .extend() function : Add multiple items to the List 
print(Lis)

Lis.remove("Social")        # .remove() function : Removes the item using item name
print(Lis)
Lis.remove(80)  
print(Lis)
#Lis.remove('Satya')   # Here the element is under NestedList. Possible to remove item
Lis.remove(['Ram', 'Satya', 1993])
print(Lis)

print(Lis.pop())           # .pop() function : Remove and Return last item in a List
print(Lis)

print(Lis.pop(1))          # .pop(I) function : Remove specific item using Index
print(Lis)

del Lis[1:3]               # del function using Slicing Operator -  deletes multiple items - Here 1,2 are deleted
print(Lis) 

Lis.clear()                # .clear() function : Completely deletes the List
print(Lis)

['Math1', 'Social', 80, '76', 10.87]
['Math1', 'Social', 80, '76', 10.87, 'Pradeep']
['Math1', 'Social', 80, '76', 10.87, 'Pradeep', ['Ram', 'Satya', 1993]]
<class 'list'>
['Math1', 'Social', 'Kasi', 80, '76', 10.87, 'Pradeep', ['Ram', 'Satya', 1993]]
['Math1', 'Social', 'Kasi', 80, '76', 10.87, 'Pradeep', ['Ram', 'Satya', 1993], 'JKP', 955]
['Math1', 'Kasi', 80, '76', 10.87, 'Pradeep', ['Ram', 'Satya', 1993], 'JKP', 955]
['Math1', 'Kasi', '76', 10.87, 'Pradeep', ['Ram', 'Satya', 1993], 'JKP', 955]
['Math1', 'Kasi', '76', 10.87, 'Pradeep', 'JKP', 955]
955
['Math1', 'Kasi', '76', 10.87, 'Pradeep', 'JKP']
Kasi
['Math1', '76', 10.87, 'Pradeep', 'JKP']
['Math1', 'Pradeep', 'JKP']
[]

In [61]:
Lt = [1,5,4,1,7,8, [3,1,2,9]]
print(Lt)
print("No. of times 7 occurred: ", Lt.count(7))  # .count() function - Calculate Total Occurrence of the item
print("No. of times 1 occurred: ", Lt.count(1))
print("No. of times 5 occurred: ", Lt.count(5))
print("No. of times 90 occurred: ", Lt.count(90))

print("Index position of item 5: ", Lt.index(5)) # .index(item) function : To Get Index Position of the item in First Occurrence

print("Index position of item 5: ",Lt.index(5,2,3)) # .index(item, startIndexationSearch(In), EndIndexationSearch(Ex)) function
                                                     # like Slicing Operator

[1, 5, 4, 1, 7, 8, [3, 1, 2, 9]]
No. of times 7 occurred:  1
No. of times 1 occurred:  2
No. of times 5 occurred:  1
No. of times 90 occurred:  0
Index position of item 5:  1

ValueError: 5 is not in list

In [62]:
L1 = [7, 89, "kas",90.678, "JaLla",(90, "uh",89.7),["kai","tha",90.3]] 
print(L1)

print(L1[2])      # Indexing in List
print(L1[6])

print(len(L1))

print(L1[:])

print(L1[0:6])    # Included  : notIncluded

print(L1[2:])

print(L1[:5]) 

print(L1[2:5])    # Intersection part i.e.., Common part L1[2:] Intersection L1[:5]

print(L1)

[7, 89, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 'tha', 90.3]]
kas
['kai', 'tha', 90.3]
7
[7, 89, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 'tha', 90.3]]
[7, 89, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7)]
['kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 'tha', 90.3]]
[7, 89, 'kas', 90.678, 'JaLla']
['kas', 90.678, 'JaLla']
[7, 89, 'kas', 90.678, 'JaLla', (90, 'uh', 89.7), ['kai', 'tha', 90.3]]

In [63]:
Num = [2, 78, 89.9, 76]
print(Num)
print(sorted(Num))           #  function : sorted() -  Can be used for Tuples also
print(Num)

[2, 78, 89.9, 76]
[2, 76, 78, 89.9]
[2, 78, 89.9, 76]

#### Specifically for List

In [64]:
Num.sort()                   # .sort() function - Used for List only - Stored in same
print(Num)

Num.sort(reverse = True)     # reverse = False by default.
print(Num)

[2, 76, 78, 89.9]
[89.9, 78, 76, 2]

In [65]:
R = ['JaLla', 90.678, 'pradddpe', 89, 7]
print(R)

R.reverse()   # .reverse() function - Used for List only - Stored in same(Doesn't return any values but Reverse the list object)
print(R)

['JaLla', 90.678, 'pradddpe', 89, 7]
[7, 89, 'pradddpe', 90.678, 'JaLla']

### SET {}
- A Set is an unordered collection datatype that is Iterable, Mutable and has no dupilcate Elements.
- Python's set class represents the mathematical notion of a set.
- This is based on a data structure known as a Hash Table.

In [66]:
empset = {}  # Careful in creating empty set.  Here itz a dictionary - It's Not a SET
type(empset)

dict

In [67]:
set1 = set()       # function : set() - Create emptySet using function
print(set1)
print(type(set1))

set()
<class 'set'>

In [68]:
set2 = {"Mummy", "Daddy", "Wife"}   # NotInOrder  - Generally order done as Ascending Alphabets
print(set2)
type(set2)

{'Wife', 'Daddy', 'Mummy'}

set

In [69]:
set2['Wife']         # To get Index Position of a element in the set (Not Possible) ==> Set doesn't support Indexing

TypeError: 'set' object is not subscriptable

In [70]:
set3 = {1,2,35,7,2,4} # No duplicate elements 
print(set3)

set3 = {1,2,8,7,35}  # Set can be edited ==> Mutable / Changeable
print(set3)

{1, 2, 35, 4, 7}
{1, 2, 35, 7, 8}

In [71]:
set3[2]              # To get element from Set using Index (Not possible) -  Set doesn't support Indexing

TypeError: 'set' object is not subscriptable

#### Inbuilt functions of Set

In [72]:
print(set3)
set3.add('Jpradee')                    # .add() function - can add one element at a time
print(set3)

{1, 2, 35, 7, 8}
{1, 2, 35, 7, 8, 'Jpradee'}

In [73]:
set4 = set3
set4

{1, 2, 35, 7, 8, 'Jpradee'}

In [74]:
set4.update([76,89,"hat"])             # .update() function - can add multiple elements using [] brackets
set4

{1, 2, 35, 7, 76, 8, 89, 'Jpradee', 'hat'}

In [75]:
SetCinema1 = {'Fida', 'F2', 'Kaidi'}           # Compare Both sets are Inorder
SetCinema2 = {'Bahubali', 'Chatrapati','Fida','F2', 'Arya'}
print(SetCinema1)
print(SetCinema2)

print(SetCinema1.intersection(SetCinema2))      # .intersection() function : 
print(SetCinema1.union(SetCinema2))             # .union() function :
print(SetCinema1.difference(SetCinema2))        # .difference() function : SetCinema1 - SetCinema2

SetCinema1.difference_update(SetCinema2)    # .difference_update function : SetCinema1 - SetCinema2 and Updated in SetCinema1
print(SetCinema1)
print(SetCinema2)

{'F2', 'Fida', 'Kaidi'}
{'Bahubali', 'Fida', 'Chatrapati', 'Arya', 'F2'}
{'F2', 'Fida'}
{'Kaidi', 'Bahubali', 'Fida', 'Chatrapati', 'Arya', 'F2'}
{'Kaidi'}
{'Kaidi'}
{'Bahubali', 'Fida', 'Chatrapati', 'Arya', 'F2'}

### Dictonaries {key : value}
- A dictionary is a Collection which is Unordered, Changeable and Indexed.
- In python dictionaries are written with Curly Brackets{}, and they have keys & values
- Keys are case sensitive and not to be duplicated
- Values can be any datatype and can be duplicated.
- DataSources like MongoDG, we load JSON object and Converts into Dictionaries. In MongoDB, we store most values in keyValue pair

In [76]:
dic = {}      # To Create an Empty Dictionary
print(dic)
type(dic)

{}

dict

In [77]:
empdic = dict()  # function : dict() - To  create empty dictionary using function
type(empdic)

dict

In [78]:
dictin = {"key1" : (32, 67,"jal",98.4),         # Values can be  tuple / List / int /float/ String
           "key2" : [89,76.5,"kas"],
           "key3" : "pradeep", 
           "key4" : 1993,
                5 : 9000}                                         
print(dictin)
print("")
print(dictin.items())         # .items() function - To display all items in dictionary
print("")
print(dictin.keys())         # .keys() function - To display all keys in dictionary
print("")
print(dictin.values())       # .values() function - To display all values for all keys in dictionary
print("")
print(dictin["key1"])      # To display all corresponding items of a key in dictionary    # matrix brackets []  like index
print("")
print(dictin[5])           # key can be a String/int.......

{'key1': (32, 67, 'jal', 98.4), 'key2': [89, 76.5, 'kas'], 'key3': 'pradeep', 'key4': 1993, 5: 9000}

dict_items([('key1', (32, 67, 'jal', 98.4)), ('key2', [89, 76.5, 'kas']), ('key3', 'pradeep'), ('key4', 1993), (5, 9000)])

dict_keys(['key1', 'key2', 'key3', 'key4', 5])

dict_values([(32, 67, 'jal', 98.4), [89, 76.5, 'kas'], 'pradeep', 1993, 9000])

(32, 67, 'jal', 98.4)

9000

In [79]:
dict2 = {"Car1":"Audi", "Car2":"BMW", "Car3":"Benz"}
print(dict2)

print(type(dict2))
print(dict2['Car2'])          # Here, In dictionaries,  Indexing done using Key.... dict[key]

dict2['Car4'] = 'Ambassodor'  # Adding an item in Dictionary 
print(dict2)

dict2['Car1']= 'Jaguar'       # Changeable / Mutable
print(dict2)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz'}
<class 'dict'>
BMW
{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz', 'Car4': 'Ambassodor'}
{'Car1': 'Jaguar', 'Car2': 'BMW', 'Car3': 'Benz', 'Car4': 'Ambassodor'}

In [80]:
'''for loop'''
# We can loop dictionary using keys -  By default Loop done through keys
for x in dict2:
    print(x)

Car1
Car2
Car3
Car4

In [81]:
'''for loop'''
# We can loop dictionary using values
for x in dict2.values():
    print(x)

Jaguar
BMW
Benz
Ambassodor

In [82]:
'''for loop'''
# We can loop dictionary using items(key:value pair)
for x in dict2.items():
    print(x)

('Car1', 'Jaguar')
('Car2', 'BMW')
('Car3', 'Benz')
('Car4', 'Ambassodor')

#### Nested Dictionaries

In [83]:
car1_model = {'Benz': 1960}
car2_model = {'Audi': 1970}
car3_model = {'BMW': 1980}
print(type(car1_model))

car_type ={'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

print(type(car_type))
print(car_type)

<class 'dict'>
<class 'dict'>
{'car1': {'Benz': 1960}, 'car2': {'Audi': 1970}, 'car3': {'BMW': 1980}}

In [84]:
car_type['car1']['Benz']   # Retrieve using Indexing for Nested Dictionaries

1960

### Tuples()
-  Not mutable (Once we define Tuple, we can't change elements)
- Round Braces ()

In [85]:
t1 = ()         # Creating Empty Tuple
print(t1)
type(t1)

()

tuple

In [86]:
t2 = tuple()    # function : tuple() - To create empty tuple using function
print(t2)
type(t2)

()

tuple

In [87]:
t3 = ('JAI', 'Ram', 'Satya',67, 'Jalla', 90.2) # In tuple, We given different DataTypes, such as int, Float, String..
print(t3)

print(t3[1])          # Indexing
print(t3[1][0])

('JAI', 'Ram', 'Satya', 67, 'Jalla', 90.2)
Ram
R

In [88]:
# t3[2] = 'Pradeep' # Not possible ==> Tuple is Immutable 
t3 = ('JAI','Satya',67, 'Jalla', 90.2)         #we can replace complete Tuple,But not using Indexing
print(t3)

('JAI', 'Satya', 67, 'Jalla', 90.2)

#### Inbuilt Funcions for Tuple

In [89]:
t4 = (1,2,43,6,2,9,2, 6, -78, 90.87,5.7)  

print(len(t4))           # function : len()

print(t4.count(9))       # .count() function : .- How times the element occurred
print(t4.count(2))
print(t4.count(3))

                                           
print(min(t4))           # function : min() / max()  --> All values in Tuple must be Integer / Float (or) All to be String
print(max(t4))           # min/max doesnot work when mixed (numericals and strings are present)

print(sorted(t4))       # function sorted()

t4.index(43)            # .index(item) function - Gives the element Index value

11
1
3
0
-78
90.87
[-78, 1, 2, 2, 2, 5.7, 6, 6, 9, 43, 90.87]

2

In [90]:
t6  = ("rama", "satzy","satya", "prani","8anu","Pradeep","JaYa") #Use ASCII values to compare #Compare as Dictionary
print(max(t6))                                            # Here in this tuple, every element is String
print(min(t6))
type(t6)

satzy
8anu

tuple

In [91]:
t = (1,2,3,6,9,'la')        # To check element(int or float or string) present in that Tuple or set
print(2 in t)               # in - Returns boolean
print(8 in t)
print('la' in t)

True
False
True

Analyse this 3 things for any function -----1. Passing Parameter - 2. Return type - 3. Updated in Same----
#### BuiltIn Functions 
1. <I><b>Inbuilt Functions</b></I>  -   print(); type(); round(); len(); input(); sorted(); max(); min(); sum()...

####  Methods
1. <I><b>String Methods</b></I>     -   .upper(); .lower(); .isalnum(); .split(); .join().....
2. <I><b>List Methods</b></I>       -   .append(item); .reverse(); .sort(); .index()......

.append(item) - Single argument passed, returns None, Existing List get Updated.

.reverse()    - No argument passed, returns None, Existing List get Updated.

3. <I><b>Set Methods  </b></I>      -   .add(elem); .difference_update(); .intersection();
4. <I><b>Dictionary Methods</b></I> -   .items(); .keys()
5. <I><b>Tuple Methods   </b></I>   -   .count(element); .index()

### Swapping Program

In [92]:
p,q = 45,85                      #Without Third Variable
p = p + q  # p=130 q=85
q = p - q   # p=130 q =45
p = p - q # p=85 q =45

print(p)
print(q)
print(p, q)

85
45
85 45

In [93]:
p,q =  q,p       #Swapping directly in python
print(p, q)

45 85