# Pandas 
- Get more Information related to Pandas.. Google - Pandas Documentation https://pandas.pydata.org/docs/ - 
1. Series
2. DataFrames
3. Read and Convert Data into different file formats (.excel, .csv..)
4. Data Manipulation

## Pandas - Series
- Series is a one-dimensional labelled array capable of holding data of any type (integer, string, float, python objects, etc.)
- Note: *Simply, Series will have One Column and Many rows
- The axis labels collectively called as 'Index'
- A series can be created using various inputs like 
  * *1. Array  *2.Dictionary..

In [1]:
import pandas as pd

### Series - Array

#### Create Empty Series using Array

In [2]:
import numpy as np
dataEmp = np.array([])
type(dataEmp)

numpy.ndarray

In [3]:
empSer = pd.Series()
print(type(empSer))
empSer

<class 'pandas.core.series.Series'>

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

#### Create Series using Array with default Index

In [4]:
import numpy as np
dataArr1 = np.array([1,'Pradep',3,5.3])
print(type(dataArr1))
dataArr1

<class 'numpy.ndarray'>

array(['1', 'Pradep', '3', '5.3'], dtype='<U11')

In [5]:
Ser1 = pd.Series(dataArr1)
print(type(Ser1))
Ser1

<class 'pandas.core.series.Series'>

0         1
1    Pradep
2         3
3       5.3
dtype: object

#### Create Series using Array with User defined Index

In [6]:
Ser2 = pd.Series(dataArr1, index = [101, 102, 103, 104])
print(type(Ser2))
Ser2

<class 'pandas.core.series.Series'>

101         1
102    Pradep
103         3
104       5.3
dtype: object

### Series - Dictionary

#### Create Series using Dictionary

In [7]:
dataDic1 = {'a':0.1, 'b':[1,'Pradep',2.4,'A87s5'], 'C': 2.}
print(type(dataDic1))
dataDic1

<class 'dict'>

{'a': 0.1, 'b': [1, 'Pradep', 2.4, 'A87s5'], 'C': 2.0}

In [8]:
Ser3 = pd.Series(dataDic1)   # Index name as a,b,C.. Series is ManyRows and 1 Column
print(type(Ser3))
Ser3

<class 'pandas.core.series.Series'>

a                        0.1
b    [1, Pradep, 2.4, A87s5]
C                          2
dtype: object

In [10]:
print(type('a'))  # Same datatype
print(type('b'))
print(type('c'))

<class 'str'>
<class 'str'>
<class 'str'>

#### Create Series using Dictionary with Unordered Index

In [11]:
Ser4 = pd.Series(dataDic1, index = ['d','b','e','a','c','C'])
print(type(Ser4))
Ser4

<class 'pandas.core.series.Series'>

d                        NaN
b    [1, Pradep, 2.4, A87s5]
e                        NaN
a                        0.1
c                        NaN
C                          2
dtype: object

#### Create Series using Dictionary with One key as Numeric

In [12]:
dataDic2 = {'a':0.1, 'b':[1,'Pradep',2.4,'A87s5'], 'C': 2., 5: 18}
print(type(dataDic2))
dataDic2

<class 'dict'>

{'a': 0.1, 'b': [1, 'Pradep', 2.4, 'A87s5'], 'C': 2.0, 5: 18}

In [13]:
Ser5 = pd.Series(dataDic2)
print(type(Ser5))
Ser5

<class 'pandas.core.series.Series'>

a                        0.1
b    [1, Pradep, 2.4, A87s5]
C                          2
5                         18
dtype: object

### Calling Series Data using Index

In [14]:
print("Ser1")
print(Ser1)
print("")
print("Ser2")
print(Ser2)
print("")
print("Ser3")
print(Ser3)
print("")
print("Ser4")
print(Ser4)
print("")
print("Ser5")
print(Ser5)
print("")

Ser1
0         1
1    Pradep
2         3
3       5.3
dtype: object

Ser2
101         1
102    Pradep
103         3
104       5.3
dtype: object

Ser3
a                        0.1
b    [1, Pradep, 2.4, A87s5]
C                          2
dtype: object

Ser4
d                        NaN
b    [1, Pradep, 2.4, A87s5]
e                        NaN
a                        0.1
c                        NaN
C                          2
dtype: object

Ser5
a                        0.1
b    [1, Pradep, 2.4, A87s5]
C                          2
5                         18
dtype: object

#### Calling 1st Index Element in Series
- when all Index are Pure Alphabetic. We can retrieve as Ser['alphabetic'] (or) Ser[Index No.]

In [39]:
print(Ser1[1])    
# print(Ser2[1])  - All Indexes are Numerical .. Can retrieve according to IndexValue Only.
print(Ser2[102])
print(Ser3[1])    # All Indexes are Pure Alphabetic .. Can retrieve according to both IndexValue or IndexPosition
print(Ser3['b'])
print(Ser4[1])  
print(Ser4['b'])
# print(Ser5[1])  - All Indexes are AphaNumerical .. Can retrieve according to IndexValue Only.
print(Ser5['b'])

Pradep
Pradep
[1, 'Pradep', 2.4, 'A87s5']
[1, 'Pradep', 2.4, 'A87s5']
[1, 'Pradep', 2.4, 'A87s5']
[1, 'Pradep', 2.4, 'A87s5']
[1, 'Pradep', 2.4, 'A87s5']

#### Calling last Index Element (Negative Index) in Series

In [16]:
# print(Ser1[-1])  # Index -  Numeric - Not possible
print(Ser4[-1])    # Index -  Pure Aplhabetic - possible   -  Negative Index Possible When Index is Pure Aplhabetic
# print(Ser5[-1])  # Index -  Aplha Numeric - Not possible

2.0

#### Calling Series elements using Slicing Operator

In [17]:
Ser1[1:]

1    Pradep
2         3
3       5.3
dtype: object

In [18]:
Ser2[1:]

102    Pradep
103         3
104       5.3
dtype: object

In [19]:
Ser3[1:]

b    [1, Pradep, 2.4, A87s5]
C                          2
dtype: object

In [20]:
Ser4[1:]

b    [1, Pradep, 2.4, A87s5]
e                        NaN
a                        0.1
c                        NaN
C                          2
dtype: object

In [21]:
Ser1[:3]

0         1
1    Pradep
2         3
dtype: object

In [22]:
Ser2[:3]

101         1
102    Pradep
103         3
dtype: object

In [23]:
Ser3[:3]

a                        0.1
b    [1, Pradep, 2.4, A87s5]
C                          2
dtype: object

In [24]:
Ser4[:3]

d                        NaN
b    [1, Pradep, 2.4, A87s5]
e                        NaN
dtype: object

In [25]:
Ser1[:-1]

0         1
1    Pradep
2         3
dtype: object

In [26]:
Ser2[:-1]

101         1
102    Pradep
103         3
dtype: object

In [27]:
Ser3[:-1]

a                        0.1
b    [1, Pradep, 2.4, A87s5]
dtype: object

In [28]:
Ser4[:-1]

d                        NaN
b    [1, Pradep, 2.4, A87s5]
e                        NaN
a                        0.1
c                        NaN
dtype: object

### Calling Series Data using Labels (Index Name)

In [29]:
print("Ser1")
print(Ser1)
print("")
print("Ser2")
print(Ser2)
print("")
print("Ser3")
print(Ser3)
print("")
print("Ser4")
print(Ser4)
print("")

Ser1
0         1
1    Pradep
2         3
3       5.3
dtype: object

Ser2
101         1
102    Pradep
103         3
104       5.3
dtype: object

Ser3
a                        0.1
b    [1, Pradep, 2.4, A87s5]
C                          2
dtype: object

Ser4
d                        NaN
b    [1, Pradep, 2.4, A87s5]
e                        NaN
a                        0.1
c                        NaN
C                          2
dtype: object

In [30]:
print(Ser2[104])                # Calling Single Label Value []
print(Ser3['b'])
print("")
print(Ser4[['b','e','a','C']])  # Calling many Label Values at a time [[]]

5.3
[1, 'Pradep', 2.4, 'A87s5']

b    [1, Pradep, 2.4, A87s5]
e                        NaN
a                        0.1
C                          2
dtype: object

### Index as AlphaNumeric

In [31]:
s1 = pd.Series([10,13,17,18], index=['a','b','e','d'])   # Index as Pure Alphabetic
s1

a    10
b    13
e    17
d    18
dtype: int64

In [32]:
print(s1['a'])
print(s1['e'])
print(s1[['a','d','e']])
print(s1[-1])                    # Negative Index Possible When Index is Pure Aplhabetic

10
17
a    10
d    18
e    17
dtype: int64
18

In [33]:
s2 = pd.Series([10,13,17,18], index=['a','b',5,'d'])   # Index as Alpha Numeric
s2

a    10
b    13
5    17
d    18
dtype: int64

In [34]:
print(s2['a'])
print(s2[5])
print(s2[['a','d',5]])

10
17
a    10
d    18
5    17
dtype: int64

In [35]:
# print(s2[-1])         # Here Negative Index Not Possible bcz Index is Alpha Numeric